<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gitgraph.js/1.15.2/gitgraph.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gitgraph.js/1.15.2/gitgraph.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js"></script>
  </head>
  <body>
    <div id="particles"></div>
    <div id="fullpage">
      <section class="vertical-scrolling" data-anchor="index">
        {% include about/title.html %}
        {% include arrows/bottom_arrow.html %}
      </section>
      <section class="vertical-scrolling" data-anchor="experience">
        <canvas id="graph"></canvas>
      </section>
      <section class="vertical-scrolling" data-anchor="skills">
        <h2>fullPage.js</h2>
        <h3>This is the third section</h3>
      </section>
    </div>
    <script src="{{ "/assets/js/gitgraph.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/particles.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/fullpage.js" | relative_url }}"></script>
  </body>
</html>
